.step {
  display: flex;
  gap: .2rem;
  justify-content: start;
  align-items: center;

  padding: .8rem;
}

.step__number {
  background-color: var(--step-number-background-color);
  border-radius: var(--step-number-border-radius);
  padding: 0.1rem 0.3rem;
}

.step__name {
  flex: 1 0 auto;
}

.step__indicators {
  flex: 1 1 100%;
  display: flex;
  justify-content: end;
}
