/* Reset */
ol.steps {
  margin-top: 0em;
  margin-left: 0em;
  list-style: none;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-inline: 5rem;

  border: 1px solid var(--steps-border-color);
  background-color: var(--steps-background-color);
}

.step-wrapper {
  /* For (1) */
  position: relative;

  border: 2px solid var(--step-border-color);
  border-radius: 5px;
}

.step-wrapper--active {
  border-color: var(--step-active-border-color);
}

/* (1) Vertical line connecting steps */
.step-wrapper + .step-wrapper::before {
  position: absolute;
  bottom: calc(100% + 2px);
  left: 1.5rem;

  height: 2rem;
  content: '';
  border-left: 5px solid var(--step-connector-color);
}

/* Faint horizontal line between steps */
.step-wrapper::after {
  position: absolute;
  bottom: -1.25rem;
  left: 10%;
  right: 4%;
  height: 0;

  content: '';
  border-top: 3px solid var(--step-separator-color);
}

.step-wrapper__error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 1rem);

  width: 2rem;
  height: 2rem;
  border: 1px solid var(--error-color);
  border-radius: 50%;
  background-color: var(--error-background-color);
  text-align: center;
  vertical-align: middle;
}

.step-wrapper__error-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: var(--error-color);
}