:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #213547;
  background-color: #ffffff;

  --steps-background-color: #fcfdfd;
  --steps-border-color: #f7f8f9;

  --step-border-color: #dcdddd;
  --step-active-border-color: #9370DB;
  --step-connector-color: #eff3f4;
  --step-separator-color: rgb(240, 240, 240);

  --step-number-background-color: #f6f8f9;
  --step-number-color: #97a6b0;
  --step-number-border-radius: 5px;

  --pill-background-color: #f6f8f9;
  --pill-border-radius: 5px;

  --error-background-color: #faedda;
  --error-color: #eab671;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
